* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

#top {
  width: 100%;
  height: 800px;
  background-color: #f6f8fa;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 50px;
}
header > a > .logo {
  background: url("images/spr_intro.png") no-repeat 0 -98px;
  width: 78px;
  height: 29px;
  margin: 10px 10px;
}
header > a > .logo > span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}
header > .sign {
  width: 260px;
  height: 50px;
  line-height: 50px;
}
#language {
  width: 80px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}

.sign-up {
  width: 80px;
  border: none;
  background-color: rgba(0, 0, 0, 0);
}
.sign-in {
  width: 80px;
  height: 30px;
  border: none;
  color: white;
  background-color: #21c531;
}

#top > .banner {
  display: flex;
  justify-content: center;
  padding-top: 50px;
  width: 100%;
  height: 600px;
}
#top > .banner > .phone {
  margin-left: 40px;
  margin-right: 60px;
  width: 540px;
  height: 695px;
}
#top > .banner > .phone > img {
  width: 540px;
  height: 695px;
}
#top > .banner > .join {
  padding-top: 20px;
  width: 410px;
  height: 570px;
}
#top > .banner > .join > .text {
  width: 410px;
}
#top > .banner > .join > .text > h2 {
  font-size: 45px;
  font-weight: normal;
  color: #222222;
}
#top > .banner > .join > .text > p {
  margin-top: 10px;
  margin-bottom: 20px;
  font-size: 17px;
}
#top > .banner > .join > form > .input {
  width: 340px;
  box-shadow: 3px 3px rgba(153, 153, 153, 0.5);
}
#top > .banner > .join > form > .input > input {
  width: 340px;
  height: 46px;
  border: none;
  border-bottom: 1px solid #e7e7e7;
}

#top > .banner > .join > form > .input:last-child {
  border-bottom: none;
}
#top > .banner > .join > form > button {
  margin-top: 30px;
  width: 340px;
  height: 46px;
  border: none;
  color: white;
  font-size: 17px;
  background-color: #21c531;
}
#top > .banner > .join > .buttons {
  margin-top: 30px;
  width: 340px;
  height: 40px;
}
#top > .banner > .join > .buttons > .facebook {
  float: left;
  margin-right: 20px;
  width: 160px;
  height: 40px;
  background-color: white;
  border: none;
  box-sizing: border-box;
}
#top > .banner > .join > .buttons > .facebook > .face-logo {
  float: left;
  margin-left: 8px;
  margin-top: 11px;
  background: url("images/spr_intro.png") no-repeat -3px -131px;
  width: 17px;
  height: 18px;
}
#top > .banner > .join > .buttons > .facebook > p {
  float: left;
  margin-left: 10px;
  height: 38px;
  line-height: 38px;
}
#top > .banner > .join > .buttons > .naver {
  float: left;
  width: 160px;
  height: 40px;
  background-color: white;
  border: none;
  box-sizing: border-box;
}
#top > .banner > .join > .buttons > .naver > .naver-logo {
  float: left;
  margin-left: 8px;
  margin-top: 11px;
  background: url("images/spr_intro.png") no-repeat -186px -100px;
  width: 19px;
  height: 18px;
}
#top > .banner > .join > .buttons > .naver > p {
  float: left;
  margin-left: 20px;
  height: 38px;
  line-height: 38px;
}
#top > .banner > .join > p {
  margin-top: 30px;
  width: 410px;
  height: 25px;
  line-height: 25px;
  font-size: 14px;
}
#top > .banner > .join > p > a {
  font-weight: bold;
  color: #21c531;
  text-decoration: underline;
}
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}
section > .sec1 {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 540px;
  background-image: url(images/bg_intro.jpg);
}
section > .sec1 > .text {
  display: flex;
  flex-direction: column;
  width: 800px;
  height: 540px;
  align-items: center;
  justify-content: center;
}
section > .sec1 > .text > h2 {
  width: 800px;
  height: 80px;
  line-height: 80px;
  text-align: center;
  font-size: 40px;
  font-weight: normal;
  color: white;
}
section > .sec1 > .text > p {
  width: 800px;
  height: 50px;
  line-height: 25px;
  text-align: center;
  font-size: 15px;
  font-weight: normal;
  color: white;
}

.sec2 {
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding-top: 20px;
  width: 1200px;
  height: 350px;
}
.sec2 > .box1 {
  width: 300px;
  height: 270px;
}
.sec2 figure {
  width: 300px;
  height: 160px;
}
.box1 > figure > img {
  width: 300px;
  height: 160px;
}
.sec2 h3 {
  padding-top: 15px;
  padding-bottom: 15px;
  font-weight: normal;
  font-size: 25px;
  color: #444444;
}
.sec2 p {
  font-size: 15px;
  color: #222222;
}
.sec2 > .box2 {
  width: 300px;
  height: 270px;
}
.box2 > figure > img {
  width: 300px;
  height: 160px;
}
.sec2 > .box3 {
  width: 300px;
  height: 270px;
}
.box3 > figure > img {
  width: 300px;
  height: 160px;
}
.sec3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 900px;
  background-color: #eef0f3;
}
.sec3 > .titlebar {
  display: flex;
  justify-content: space-between;
  width: 1100px;
  height: 120px;
  line-height: 120px;
}
.sec3 h2 {
  font-weight: normal;
  font-size: 25px;
  color: #444444;
}
.sec3 a {
  font-size: 15px;
  color: #222222;
}
.sec3 > .contents {
  display: flex;
  flex-direction: column;
  width: 1100px;
}
.sec3 .con1-1 {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-bottom: 50px;
}
.sec3 .con {
  display: flex;
  width: 500px;
  height: 100px;
}
.sec3 .con figure {
  width: 100px;
  height: 100px;
}
.con img {
  width: 100px;
  height: 100px;
}
.con .text {
  width: 380px;
  margin-left: 10px;
}
.con .con-title a {
  font-size: 16px;
  font-weight: bold;
}
.con-title {
  padding-bottom: 5px;
}
.con .con-sub a {
  font-size: 13px;
}
.con .member a {
  font-size: 12px;
}
.con .member {
  padding-bottom: 5px;
}
.con .btn {
  background-color: #fff;
  width: 200px;
  height: 23px;
  line-height: 23px;
  border: 1px solid #a3a3a3;
  border-radius: 50px;
  text-align: center;
}
.con .btn a {
  font-size: 14px;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 260px;
}
#foot1 {
  display: flex;
  width: 100%;
  height: 130px;
}
.foot1-1 {
  margin: 0 auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 1200px;
  height: 130px;
}
#foot1 .foot-left {
  display: flex;
  align-items: center;
  width: 500px;
  height: 130px;
}
.foot-left .app {
  background: url("images/spr_intro.png") no-repeat -162px 0;
  width: 70px;
  height: 70px;
}
.foot-left .text {
  margin-left: 15px;
}
.foot-left h3 {
  font-size: 25px;
  font-weight: normal;
}
.foot-left p {
  font-size: 15px;
}
.foot-right {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 400px;
}
.foot-right a:first-child {
  background: url("images/spr_intro.png") no-repeat 0 0;
  width: 160px;
  height: 47px;
}
.foot-right a:last-child {
  background: url("images/spr_intro.png") no-repeat 0 -49px;
  width: 160px;
  height: 47px;
}
#foot2 {
  width: 100%;
  height: 130px;
  background-color: #2a3038;
}

#foot2 ul {
  display: flex;
  margin: 0 auto;
  padding-top: 20px;
  width: 1200px;
  height: 50px;
  line-height: 70px;
}
#foot2 li a {
  margin: 6px;
  color: #777777;
}
#foot2 li:nth-child(5) a {
  font-weight: bold;
  color: #b3b3b3;
}
#foot2 p {
  margin: 0 auto;
  padding-left: 10px;
  display: flex;
  align-items: center;
  width: 1200px;
  color: #b3b3b3;
}
