* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  font-family: "Noto Sans KR";
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#hidden {
  display: none;
}
.nav-bar-small {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 48px;
  background-color: #333333;
}
.nav-bar-small .menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.nav-bar-small .menu a {
  display: block;
  background: url(images/Search.svg) no-repeat 0 -15px;
  width: 14px;
  height: 14px;
  line-height: 48px;
}
.nav-bar-small .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.nav-bar-small .logo a {
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/header-icon.svg);
  background-position: center center;
  width: 14px;
  height: 48px;
  line-height: 48px;
}
.nav-bar-small .bag {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 48px;
  height: 48px;
}
.nav-bar-small .bag a {
  display: block;
  background: url(images/header-bag.svg) no-repeat 0 -13px;
  width: 13px;
  height: 16px;
  line-height: 48px;
}
.nav-bar-small span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}
.nav-bar {
  display: block;
  width: 100%;
  height: 44px;
  background-color: #333333;
}
.nav-bar ul {
  margin: 0 auto;
  padding: 0 22px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  max-width: 980px;
  height: 44px;
  line-height: 44px;
}
.nav-bar ul .logo {
  width: 14px;
  height: 44px;
  line-height: 44px;
}
.nav-bar ul .logo a {
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/header-icon.svg);
  background-position: center center;
  width: 14px;
  height: 44px;
  line-height: 44px;
}
.nav-bar ul .search {
  width: 14px;
  height: 14px;
  line-height: 44px;
}
.nav-bar ul .search a {
  display: block;
  background: url(images/Search.svg) no-repeat 0 -15px;
  width: 14px;
  height: 14px;
  line-height: 44px;
}
.nav-bar ul .bag a {
  display: block;
  background: url(images/header-bag.svg) no-repeat 0 -13px;
  width: 13px;
  height: 16px;
  line-height: 44px;
}
.nav-bar ul li a {
  display: block;
  font-size: 11px;
  font-weight: normal;
  color: #f5f5f7;
  opacity: 0.8;
}
.nav-bar ul li a:hover {
  opacity: 1;
}
.nav-bar span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}

.icon-bar {
  width: 100%;
  height: 116px;
  background-color: #f5f5f799;
}
.icon-bar ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 116px;
  font-size: 11px;
  color: #1d1d1f;
}
.icon-bar ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-bar ul .icon {
  margin-bottom: 8px;
}
.icon-bar ul .icon1 {
  background: url(images/MacBook_Pro_13.svg) no-repeat;
  width: 54px;
  height: 54px;
}
.icon-bar ul .icon2 {
  background: url("images/MacBook_Pro_14,_16.svg") no-repeat;
  width: 85px;
  height: 54px;
}
.icon-bar ul .column {
  display: flex;
  flex-direction: column;
}
.icon-bar ul span {
  color: #bf4800;
  /* font-weight: bold; */
}
.icon-bar ul .icon3 {
  background: url(images/compare.svg) no-repeat;
  width: 45px;
  height: 54px;
}
.icon-bar ul .icon4 {
  background: url("images/Acc.svg") no-repeat;
  width: 33px;
  height: 54px;
}
.icon-bar ul .icon5 {
  background: url("images/Monterey.svg") no-repeat;
  width: 35px;
  height: 54px;
}
.icon-bar ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-bar ul p {
  display: block;
  text-align: center;
  color: #1d1d1f;
}
.icon-bar ul li a:hover p {
  color: #0071e3;
}

#sec1 {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 120px;
}
.banner h1 {
  font-size: 80px;
  padding-bottom: 64px;
  color: #1d1d1f;
}
.banner .model {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sec1 .model-1 {
  padding-top: 40px;
}
#sec1 .model-1 figure {
  width: 374px;
  height: 218px;
  margin: 26px;
  background-image: url(images/model-1.jpg);
  background-size: 374px 218px;
}
#sec1 .model-2 figure {
  width: 578px;
  height: 258px;
  margin: 26px;
  background-image: url(images/model-2.jpg);
  background-size: 578px 258px;
}

.banner .model .info {
  margin-top: 36px;
  text-align: center;
  color: #1d1d1f;
}
.banner .model .info span {
  color: #bf4800;
}
.banner .model .info p {
  font-size: 16px;
  margin-bottom: 8px;
}
.banner .model .info h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 8px;
}
.banner .model .info h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.banner .model .buttons {
  display: flex;
  justify-content: center;
}
.banner .model .buttons button {
  background-color: #0071e3;
  width: 88px;
  height: 36px;
  border: none;
  border-radius: 22px;
  color: white;
  font-size: 16px;
  margin-right: 17px;
}
.model .buttons button:hover {
  background: #0077ed;
}
.banner .buttons .more {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #0071e3;
}
.banner .buttons .more:hover {
  text-decoration: underline;
}

#sec2 {
  width: 100%;
  background-color: #fafafa;
  color: #1d1d1f;
}
#sec2 h2 {
  margin: 0 auto;
  padding-top: 110px;
  width: 980px;
  font-size: 40px;
  text-align: center;
}
#sec2 .model {
  margin: 0 auto;
  padding-top: 56px;
  display: grid;
  width: 940px;
  text-align: center;
  grid-template-columns: repeat(3, 290px);
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 39px;
  grid-column-gap: 35px;
  grid-template-areas:
    "model-1 model-2 model-3"
    "chip-1 chip-2 chip-3"
    "cpu-1 cpu-2 cpu-3"
    "gpu-1 gpu-2 gpu-3"
    "ram-1 ram-2 ram-3"
    "disk-1 disk-2 disk-3"
    "display-1 display-2 display-3"
    "battery-1 battery-2 battery-3"
    "camera-1 camera-2 camera-3"
    "weight-1 weight-2 weight-3"
    "touch-1 touch-2 touch-3";
}
#sec2 .model br {
  display: none;
}
#sec2 .model h4 {
  font-size: 24px;
}
#sec2 .model p {
  font-size: 14px;
  margin-top: 8px;
  margin-bottom: 4px;
}
#sec2 .model button:hover {
  background-color: #0077ed;
}
#sec2 .model .more:hover {
  text-decoration: underline;
}
/* --------------- Section2 Grid 공통사항 ---------------- */
#sec2 .model .model-1 {
  grid-area: model-1;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
#sec2 .color figure {
  margin: 0 auto;
  background-image: url(images/color.png);
  width: 32px;
  height: 14px;
  margin-top: 16px;
  margin-bottom: 12px;
}
#sec2 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .info h3 {
  font-size: 24px;
}
#sec2 .info p {
  margin-top: 8px;
  font-size: 14px;
}
#sec2 .info span {
  color: #bf4800;
  font-size: 14px;
}
#sec2 .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
#sec2 button {
  margin-top: 24px;
  background-color: #0071e3;
  width: 64px;
  height: 30px;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
#sec2 .more {
  margin-top: 12px;
  font-size: 13px;
  font-weight: bold;
  color: #0071e3;
}
/* ----------------- Section2 model-1 ------------------ */
.model-1 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/13_in.png);
  width: 212px;
  height: 124px;
}
#sec2 .model .chip-1 {
  grid-area: chip-1;
}
.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chip-1 figure {
  background-image: url(images/M1.png);
  width: 48px;
  height: 44px;
}
#sec2 .model .cpu-1 {
  grid-area: cpu-1;
}
.cpu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .gpu-1 {
  grid-area: gpu-1;
}
.gpu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .ram-1 {
  grid-area: ram-1;
}
.ram {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.ram figure {
  background-image: url(images/Ram.png);
  width: 48px;
  height: 44px;
}
#sec2 .model .disk-1 {
  grid-area: disk-1;
}
.disk {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .display-1 {
  grid-area: display-1;
}
.display {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .battery-1 {
  grid-area: battery-1;
}
.battery figure {
  background-image: url(images/Battery.png);
  width: 48px;
  height: 44px;
}
.battery {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .camera-1 {
  grid-area: camera-1;
}
.camera {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.camera figure {
  background-image: url(images/Camera.png);
  width: 48px;
  height: 44px;
}
#sec2 .model .weight-1 {
  grid-area: weight-1;
}
.weight {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .model .touch-1 {
  grid-area: touch-1;
}
.model .touch-1 figure {
  background-image: url(images/Touch_Bar.png);
  width: 48px;
  height: 44px;
}
.touch {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 45px;
  border-bottom: 1px solid #d2d2d7;
}

/* ----------------- Section2 model-2 ------------------ */
#sec2 .model .model-2 {
  grid-area: model-2;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
.model-2 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/14_in.png);
  width: 212px;
  height: 130px;
}
#sec2 .model .chip-2 {
  grid-area: chip-2;
}
.chip-2 figure {
  background-image: url(images/M1_pro.png);
  width: 90px;
  height: 40px;
}
#sec2 .model .cpu-2 {
  grid-area: cpu-2;
}
#sec2 .model .gpu-2 {
  grid-area: gpu-2;
}
#sec2 .model .ram-2 {
  grid-area: ram-2;
}
#sec2 .model .disk-2 {
  grid-area: disk-2;
}
#sec2 .model .display-2 {
  grid-area: display-2;
}
#sec2 .model .battery-2 {
  grid-area: battery-2;
}
#sec2 .model .camera-2 {
  grid-area: camera-2;
}
#sec2 .model .weight-2 {
  grid-area: weight-2;
}
#sec2 .model .touch-2 {
  grid-area: touch-2;
}
.model .touch-2 figure {
  background-image: url(images/Touch_ID.png);
  width: 48px;
  height: 44px;
}

/* ----------------- Section2 model-3 ------------------ */
#sec2 .model .model-3 {
  grid-area: model-3;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
.model-3 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/16_in.png);
  width: 236px;
  height: 146px;
}
#sec2 .model .chip-3 {
  grid-area: chip-3;
}
.chip-3 figure {
  background-image: url(images/M1_pro.png);
  width: 90px;
  height: 40px;
}
#sec2 .model .cpu-3 {
  grid-area: cpu-3;
}
#sec2 .model .gpu-3 {
  grid-area: gpu-3;
}
#sec2 .model .ram-3 {
  grid-area: ram-3;
}
#sec2 .model .disk-3 {
  grid-area: disk-3;
}
#sec2 .model .display-3 {
  grid-area: display-3;
}
#sec2 .model .battery-3 {
  grid-area: battery-3;
}
#sec2 .model .camera-3 {
  grid-area: camera-3;
}
#sec2 .model .weight-3 {
  grid-area: weight-3;
}
#sec2 .model .touch-3 {
  grid-area: touch-3;
}
.model .touch-3 figure {
  background-image: url(images/Touch_ID.png);
  width: 48px;
  height: 44px;
}
#sec2 .other {
  margin: 0 auto;
  padding-top: 48px;
  padding-bottom: 120px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 420px;
  height: 40px;
  line-height: 40px;
}
#sec2 .other a {
  font-size: 20px;
  color: #0071e3;
}

#sec2 .other a:hover {
  text-decoration: underline;
}

#sec3 {
  margin-top: 30px;
  width: 100%;
  color: #1d1d1f;
}

#sec3 .shopping {
  margin: 0 auto;
  display: flex;
  max-width: 1440px;
}
#sec3 .shopping .accessory {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin-right: 15px;
  margin-left: 30px;
  width: 675px;
}
.shopping .accessory p {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.shopping .accessory br {
  display: none;
}
.shopping h2 {
  text-align: center;
  padding-top: 8px;
  font-size: 40px;
}
.shopping .text {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 64px 10px 58px;
}
.shopping .accessory .text button {
  margin-top: 16px;
  background-color: #0071e3;
  width: 85px;
  height: 36px;
  border: none;
  border-radius: 21px;
}
.shopping .accessory button:hover {
  background-color: #0077ed;
}
.accessory button a {
  color: white;
  font-size: 14px;
  font-weight: bold;
}
.accessory .img {
  width: 100%;
  height: 272px;
}
.accessory .img figure {
  background: url(images/Accessory.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100%;
}
#sec3 .shopping .trade {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #f2f2f2;
  margin-left: 15px;
  margin-right: 30px;
  width: 675px;
}
.shopping .trade p:first-child {
  font-size: 24px;
  font-weight: bold;
  text-align: center;
}
.shopping .trade .none {
  display: none;
}
.shopping .trade p:nth-child(3) {
  padding-top: 14px;
  width: 424px;
  font-size: 16px;
  text-align: center;
}
.shopping .trade a {
  padding-top: 24px;
  font-size: 16px;
  color: #0071e3;
}
.trade a:hover {
  text-decoration: underline;
}
.shopping .trade .text .block .none {
  display: none;
}
.shopping .trade figure {
  background: url(images/Credit.jpg);
  width: 424px;
  height: 282px;
}
#sec3 .learn {
  margin: 0 auto;
  margin-top: 30px;
  margin-bottom: 30px;
  display: flex;
  max-width: 1440px;
  height: 600px;
}
#sec3 .learn .work {
  background-image: url(images/apple_at_work.jpg);
  width: 675px;
  height: 600px;
  margin-right: 15px;
  margin-left: 30px;
  color: #f5f5f7;
}
.learn .text {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 600px;
}
.learn h2 {
  font-size: 44px;
}
.learn p {
  margin-top: 20px;
  text-align: center;
  font-size: 15px;
  font-weight: bold;
}
.learn a {
  margin-top: 20px;
  font-size: 15px;
  color: #ffffff;
}
.learn a:hover {
  text-decoration: underline;
}
#sec3 .learn .education {
  background-image: url(images/apple_and_education.jpg);
  width: 675px;
  height: 600px;
  margin-left: 15px;
  margin-right: 30px;
  color: #f5f5f7;
}
#sec3 .more {
  display: flex;
  justify-content: center;
  margin: 0 auto;
  padding-top: 80px;
  padding-bottom: 160px;
  max-width: 1440px;
}
#sec3 .more .delivery {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  width: 675px;
}
.more .delivery figure {
  background-image: url(images/Delivery.png);
  width: 40px;
  height: 44px;
  margin: 20px 24px;
}
#sec3 .more .credit {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 30px;
  width: 675px;
}
.more .credit figure {
  background: url("images/icon-credit.svg") no-repeat;
  width: 88px;
  height: 88px;
}
.more h3 {
  font-size: 21px;
  font-weight: bold;
  color: #333333;
}
.more p {
  padding-top: 24px;
  text-align: center;
  font-size: 20px;
}
.more a {
  padding-top: 24px;
  font-size: 21px;
  color: #0071e3;
}
.more a:hover {
  text-decoration: underline;
}
footer {
  width: 100%;
  font-size: 12px;
  color: #6e6e73;
  background-color: #f5f5f7;
}
footer .terms {
  margin: 0 auto;
  padding-top: 16px;
  padding-right: 22px;
  padding-left: 22px;
  max-width: 980px;
}
footer .terms a:hover {
  text-decoration: underline;
}
footer .terms p {
  padding-bottom: 12px;
}
footer .terms ol li {
  list-style: decimal;
  margin-left: 14px;
  max-width: 966px;
  padding-bottom: 12px;
}
footer .terms ol li:last-child {
  padding-bottom: 24px;
}
footer .terms a {
  color: #424245;
}
footer .foot-nav {
  margin: 0 auto;
  padding-left: 22px;
  padding-right: 22px;
  font-size: 11px;
  color: #424245;
  max-width: 980px;
}
.foot-nav a:hover {
  text-decoration: underline;
}
.foot-nav .top {
  display: flex;
  align-items: center;
  padding-top: 24px;
  padding-bottom: 24px;
  line-height: 20px;
  border-top: 1px solid #d2d2d7;
}
.foot-nav .top span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}
.foot-nav .top a {
  color: #424245;
}
.foot-nav .top a:first-child {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 14px;
  height: 16px;
}
.foot-nav figure {
  background: url("images/icon_apple.svg") no-repeat -1px -1px;
  width: 14px;
  height: 16px;
}
.foot-nav nav {
  display: flex;
  justify-content: space-between;
}
.foot-nav nav ul {
  max-width: 196px;
  color: #1d1d1f;
  font-weight: bold;
}
.foot-nav nav ul p {
  font-size: 12px;
  margin-bottom: 4px;
}
.foot-nav nav ul ul {
  max-width: 196px;
  margin-top: 24px;
}
.foot-nav nav ul li {
  margin-top: 12px;
  font-weight: normal;
}
.foot-nav nav ul li a {
  color: #424245;
}
footer .copyright {
  display: flex;
  flex-direction: column;
  padding-top: 36px;
  padding-bottom: 24px;
  padding-left: 22px;
  padding-right: 22px;
  margin: 0 auto;
  max-width: 980px;
}
footer .copyright a:hover {
  text-decoration: underline;
}
footer .copyright .c-top {
  padding-bottom: 8px;
  border-bottom: 1px solid #d2d2d7;
}
.copyright .c-top a {
  color: #0071e3;
}
.copyright .c-bottom {
  padding-top: 8px;
  display: flex;
  justify-content: space-between;
}
.copyright .c-bottom a {
  color: #424245;
}
@media screen and (max-width: 1257px) {
  .shopping .trade .none {
    display: block;
  }
  .shopping .trade .block br {
    display: none;
  }
}
@media screen and (max-width: 1292px) {
  .shopping .accessory br {
    display: block;
  }
}

@media screen and (max-width: 1068px) {
  #sec1 .model-1 {
    padding-top: 30px;
  }
  #sec1 .model-1 figure {
    width: 264px;
    height: 156px;
    background-size: 264px 156px;
  }
  #sec1 .model-2 figure {
    width: 408px;
    height: 182px;
    background-size: 408px 182px;
  }
  .banner h1 {
    font-size: 64px;
  }
  .banner .model .info span {
    font-size: 12px;
  }
  .banner .model .info p {
    font-size: 14px;
    margin-bottom: 8px;
  }
  .banner .model .info h2 {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 8px;
  }
  .banner .model .info h3 {
    font-size: 21px;
    margin-bottom: 24px;
  }
  #sec2 h2 {
    font-size: 36px;
  }
  #sec2 .model {
    width: 746px;
    grid-template-columns: repeat(3, 236px);
    grid-column-gap: 19px;
  }
  #sec2 .model br {
    display: block;
  }
  #sec2 .model .model-1 {
    width: 236px;
  }
  #sec2 .model .model-2 {
    width: 236px;
  }
  #sec2 .model .model-3 {
    width: 236px;
  }
  .shopping h2 {
    font-size: 32px;
  }
  .shopping .trade .none {
    display: none;
  }
  .shopping .accessory p {
    font-size: 20px;
  }
  .shopping .trade p:first-child {
    font-size: 20px;
  }
  .shopping .trade figure {
    background: url(images/Credit_small.jpg);
    background-position: center;
    background-size: cover;
    width: 296px;
    height: 176px;
  }
}
@media screen and (max-width: 833px) {
  #hidden {
    display: block;
  }
  .nav-bar {
    display: none;
  }
}
