* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}

header {
  display: flex;
  flex-direction: column;
  width: 100%;
}
.nav-bar {
  width: 100%;
  height: 44px;
  background-color: #333333;
}
.nav-bar ul {
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 996px;
  height: 44px;
  line-height: 44px;
}
.nav-bar ul .logo {
  width: 14px;
  height: 44px;
  line-height: 44px;
}
.nav-bar ul .logo a {
  display: block;
  background-repeat: no-repeat;
  background-image: url(images/header-icon.svg);
  background-position: center center;
  width: 14px;
  height: 44px;
}
.nav-bar ul .search {
  width: 14px;
  height: 14px;
  line-height: 44px;
}
.nav-bar ul .search a {
  display: block;
  background: url(images/Search.svg) no-repeat 0 -15px;
  width: 14px;
  height: 14px;
  line-height: 44px;
}
.nav-bar ul .bag a {
  display: block;
  background: url(images/header-bag.svg) no-repeat 0 -13px;
  width: 13px;
  height: 16px;
  line-height: 44px;
}
.nav-bar ul li a {
  font-size: 11px;
  font-weight: normal;
  color: #f5f5f7;
}
.nav-bar span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}

.icon-bar {
  width: 100%;
  height: 116px;
  background-color: #f5f5f799;
}
.icon-bar ul {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  width: 520px;
  height: 116px;
  font-size: 11px;
  color: #1d1d1f;
}
.icon-bar ul a {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.icon-bar ul .icon {
  margin-bottom: 8px;
}
.icon-bar ul .icon1 {
  background: url(images/MacBook_Pro_13.svg) no-repeat;
  width: 54px;
  height: 54px;
}
.icon-bar ul .icon2 {
  background: url('images/MacBook_Pro_14,_16.svg') no-repeat;
	width: 85px;
	height: 54px;
}
.icon-bar ul .column {
  display: flex;
  flex-direction: column;
}
.icon-bar ul span {
  color: #bf4800;
  /* font-weight: bold; */
}
.icon-bar ul .icon3 {
  background: url(images/compare.svg) no-repeat;
  width: 45px;
  height: 54px;
}
.icon-bar ul .icon4 {
  background: url("images/Acc.svg") no-repeat;
  width: 33px;
  height: 54px;
}
.icon-bar ul .icon5 {
  background: url("images/Monterey.svg") no-repeat;
  width: 35px;
  height: 54px;
}
.icon-bar ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.icon-bar ul p {
  text-align: center;
  color: #1d1d1f;
}

#sec1 {
  width: 100%;
}

.banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 64px;
  padding-bottom: 120px;
}
.banner h1 {
  font-size: 80px;
  padding-bottom: 64px;
  color: #1d1d1f;
}
.banner .model {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
#sec1 .model-1 {
  padding-top: 40px;
}
#sec1 .model-1 figure {
  width: 374px;
  height: 218px;
  margin: 26px;
  background-image: url(images/model-1.jpg);
  background-size: 374px 218px;
}
#sec1 .model-2 figure {
  width: 578px;
  height: 258px;
  margin: 26px;
  background-image: url(images/model-2.jpg);
  background-size: 578px 258px;
}

.banner .model .info {
  margin-top: 36px;
  text-align: center;
  color: #1d1d1f;
}
.banner .model .info span {
  color: #bf4800;
}
.banner .model .info p {
  font-size: 16px;
  margin-bottom: 8px;
}
.banner .model .info h2 {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 8px;
}
.banner .model .info h3 {
  font-size: 24px;
  margin-bottom: 24px;
}

.banner .model .buttons {
  display: flex;
  justify-content: center;
}
.banner .model .buttons button {
  background-color: #0071e3;
  width: 88px;
  height: 36px;
  border: none;
  border-radius: 22px;
  color: white;
  font-size: 16px;
  margin-right: 17px;
}
.banner .model .buttons .more {
  height: 36px;
  line-height: 36px;
  font-size: 16px;
  font-weight: bold;
  color: #0071e3;
}

#sec2 {
  width: 100%;
  background-color: #fafafa;
  color: #1d1d1f;
}
#sec2 h2 {
  margin: 0 auto;
  padding-top: 110px;
  width: 980px;
  font-size: 40px;
  text-align: center;
}
#sec2 .model {
  margin: 0 auto;
  padding-top: 56px;
  display: grid;
  width: 940px;
  height: 1514px;
  grid-template-columns: repeat(3, 290px);
  grid-template-rows: repeat(11, auto);
  grid-row-gap: 39px;
  grid-column-gap: 35px;
  grid-template-areas:
    "model-1 model-2 model-3"
    "chip-1 chip-2 chip-3"
    "cpu-1 cpu-2 cpu-3"
    "gpu-1 gpu-2 gpu-3"
    "ram-1 ram-2 ram-3"
    "disk-1 disk-2 disk-3"
    "display-1 display-2 display-3"
    "battery-1 battery-2 battery-3"
    "camera-1 camera-2 camera-3"
    "weight-1 weight-2 weight-3"
    "touch-1 touch-2 touch-3";
}
/* --------------- Section2 Grid 공통사항 ---------------- */
#sec2 .model .model-1 {
  grid-area: model-1;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
#sec2 .color figure {
  margin: 0 auto;
  background-image: url(images/color.png);
  width: 32px;
  height: 14px;
  margin-top: 16px;
  margin-bottom: 12px;
}
#sec2 .info {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#sec2 .info h3 {
  font-size: 24px;
}
#sec2 .info p {
  margin-top: 8px;
  font-size: 14px;
}
#sec2 .info span {
  color: #bf4800;
  font-size: 14px;
}
#sec2 .buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 32px;
}
#sec2 button {
  margin-top: 24px;
  background-color: #0071e3;
  width: 64px;
  height: 30px;
  border: none;
  border-radius: 16px;
  color: white;
  font-size: 11px;
  font-weight: bold;
}
#sec2 .more {
  margin-top: 12px;
  font-size: 13px;
  font-weight: bold;
  color: #0071e3;
}
/* ----------------- Section2 model-1 ------------------ */
.model-1 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/13_in.png);
  width: 212px;
  height: 124px;
}
#sec2 .model .chip-1 {
  grid-area: chip-1;
}
.chip-1 figure {
  background-image: url(images/M1.png);
  width: 48px;
  height: 44px;
}
.chip {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.chip p {
  font-size: 14px;
  margin-top: 12px;
}
#sec2 .model .cpu-1 {
  grid-area: cpu-1;
}
.cpu {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.cpu p {
  font-size: 14px;
  margin-top: 4px;
  margin-bottom: 4px;
}
.cpu h4 {
  font-size: 24px;
}
#sec2 .model .gpu-1 {
  grid-area: gpu-1;
}
#sec2 .model .ram-1 {
  grid-area: ram-1;
}
#sec2 .model .disk-1 {
  grid-area: disk-1;
}
#sec2 .model .display-1 {
  grid-area: display-1;
}
#sec2 .model .battery-1 {
  grid-area: battery-1;
}
#sec2 .model .camera-1 {
  grid-area: camera-1;
}
#sec2 .model .weight-1 {
  grid-area: weight-1;
}
#sec2 .model .touch-1 {
  grid-area: touch-1;
}

/* ----------------- Section2 model-2 ------------------ */
#sec2 .model .model-2 {
  grid-area: model-2;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
.model-2 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/14_in.png);
  width: 212px;
  height: 130px;
}
#sec2 .model .chip-2 {
  grid-area: chip-2;
}
.chip-2 figure {
  background-image: url(images/M1_pro.png);
  width: 90px;
  height: 40px;
}
#sec2 .model .cpu-2 {
  grid-area: cpu-2;
}
#sec2 .model .gpu-2 {
  grid-area: gpu-2;
}
#sec2 .model .ram-2 {
  grid-area: ram-2;
}
#sec2 .model .disk-2 {
  grid-area: disk-2;
}
#sec2 .model .display-2 {
  grid-area: display-2;
}
#sec2 .model .battery-2 {
  grid-area: battery-2;
}
#sec2 .model .camera-2 {
  grid-area: camera-2;
}
#sec2 .model .weight-2 {
  grid-area: weight-2;
}
#sec2 .model .touch-2 {
  grid-area: touch-2;
}

/* ----------------- Section2 model-3 ------------------ */
#sec2 .model .model-3 {
  grid-area: model-3;
  margin: 0 auto;
  width: 274px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
  border-bottom: 1px solid #d2d2d7;
}
.model-3 .img figure {
  margin: 0 auto;
  display: flex;
  background-image: url(images/16_in.png);
  width: 236px;
  height: 146px;
}
#sec2 .model .chip-3 {
  grid-area: chip-3;
}
.chip-3 figure {
  background-image: url(images/M1_pro.png);
  width: 90px;
  height: 40px;
}
#sec2 .model .cpu-3 {
  grid-area: cpu-3;
}
#sec2 .model .gpu-3 {
  grid-area: gpu-3;
}
#sec2 .model .ram-3 {
  grid-area: ram-3;
}
#sec2 .model .disk-3 {
  grid-area: disk-3;
}
#sec2 .model .display-3 {
  grid-area: display-3;
}
#sec2 .model .battery-3 {
  grid-area: battery-3;
}
#sec2 .model .camera-3 {
  grid-area: camera-3;
}
#sec2 .model .weight-3 {
  grid-area: weight-3;
}
#sec2 .model .touch-3 {
  grid-area: touch-3;
}
#sec2 .other {
  margin: 0 auto;
  padding-bottom: 116px;
  padding-top: 56px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 560px;
}
#sec2 .other a {
  /* font-weight: bold; */
  font-size: 20px;
  color: #0071e3;
}

#sec3 {
  margin-top: 30px;
  width: 100%;
}

#sec3 .shopping {
  margin: 0 auto;
  display: flex;
  width: 1380px;
}
#sec3 .shopping .accessory {
  background-color: #f2f2f2;
  margin-right: 15px;
  width: 675px;
}
#sec3 .shopping .trade {
  background-color: #f2f2f2;
  margin-left: 15px;
  width: 675px;
}
