* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
:root {
  --blue: #5865f2;
  --out-text: #4f545c;
  --box-text: #68727e;
  --footer-background: #23272a;
  --green: #3ba55c;
}
body {
  position: relative;
}
/* ----------------------- header ------------------------------- */
header {
  width: 100%;
  height: 70px;
}
header .nav-bar {
  display: flex;
  margin: 0 auto;
  padding: 0 30px;
  max-width: 1200px;
  height: 70px;
  align-items: center;
  justify-content: space-between;
}
header .nav-bar figure {
  background: url("images/Color-logo.svg") no-repeat 0 0;
  width: 124px;
  height: 24px;
}
header .nav-bar ul {
  display: flex;
  justify-content: space-between;
  width: 340px;
  height: 70px;
  line-height: 70px;
}
.nav-bar ul li a {
  font-size: 14px;
  color: var(--blue);
}
.nav-bar ul li a:hover {
  text-decoration: underline;
}
.nav-bar ul li select {
  border: none;
  outline: none;
  font-size: 14px;
  color: var(--blue);
}
.nav-bar ul li select:hover {
  text-decoration: underline;
}

/* ----------------------- banner ------------------------------- */
#banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-image: url(images/Banner.png);
  width: 100%;
  height: 300px;
  background-size: 100% 300px;
  background-position: center;
  background-size: cover;
}
#banner h1 {
  color: white;
  font-size: 36px;
  margin-bottom: 16px;
}
#banner .search {
  display: flex;
  align-items: center;
  max-width: 600px;
  width: 100%;
  height: 40px;
  background-color: white;
  border-radius: 20px;
  border: 1px solid #4f545c;
  box-sizing: border-box;
}
#banner .search figure {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 40px;
  height: 40px;
}
.search figure svg {
  width: 16px;
  height: 16px;
  opacity: 0.6;
}
#banner .search input {
  width: 100%;
  height: 40px;
  padding-right: 32px;
  border: none;
  outline: none;
  background-color: transparent;
}

/* ----------------------- section ------------------------------- */
section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  color: var(--out-text);
}
section .text-1 {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 80px 24px;
}
section .text-1 h2 {
  font-size: 28px;
  font-weight: normal;
  padding-bottom: 16px;
}
section .text-1 p {
  text-align: center;
  padding: 0 24px;
}
section .text-1 p a {
  color: var(--blue);
}
section .text-1 p a:hover {
  text-decoration: underline;
}
section .menu-box {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
}
section .box {
  margin: 12px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 240px;
  height: 260px;
  border-radius: 8px;
  background-color: white;
  box-shadow: 3px 3px 3px 3px rgba(214, 214, 214, 0.1);
}
section .box:hover {
  cursor: pointer;
  transform: translateY(-8px);
}
.box h3 {
  font-size: 24px;
  font-weight: normal;
  color: var(--blue);
  padding-bottom: 24px;
}
a .box hr {
  width: 36px;
  margin-bottom: 12px;
  color: var(--box-text);
  opacity: 0.5;
}
.box p {
  text-align: center;
  font-size: 14px;
  color: var(--box-text);
}
section .menu-box .box figure {
  margin-top: 8px;
  width: 120px;
  height: 120px;
  background-size: 120px 120px;
}
.menu-box .box-1 figure {
  background: url(images/Announcement.svg);
}
.menu-box .box-2 figure {
  background: url(images/Interface.svg);
}
.menu-box .box-3 figure {
  background: url(images/Account_setting.svg);
}
.menu-box .box-4 figure {
  background: url(images/Start.svg);
}
.menu-box .box-5 figure {
  background: url(images/Server-setting.svg);
}
.menu-box .box-6 figure {
  background: url(images/Comunity.svg);
}
.menu-box .box-7 figure {
  background: url(images/Nitro.svg);
}
.menu-box .box-8 figure {
  background: url(images/Bill.svg);
}
.menu-box .box-9 figure {
  background: url(images/Security.svg);
}
.menu-box .box-10 figure {
  background: url(images/QnA.svg);
}
section .more-menu {
  display: flex;
  flex-direction: column;
  margin-top: 80px;
  margin-bottom: 64px;
}
section .more-menu h4 {
  font-size: 24px;
  text-align: center;
  margin-bottom: 16px;
}
.more-menu .more-box .box {
  background-color: #f2f2f2;
}
section .more-menu .more-box {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}
section .more-box .box figure {
  margin-top: 12px;
  width: 100px;
  height: 100px;
  background-size: 100px 100px;
}
.more-box .box-11 figure {
  background-image: url(images/Game-developer.svg);
}
.more-box .box-12 figure {
  background-image: url(images/Twitter.svg);
}

/* ----------------------- footer ------------------------------- */
footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  background-color: var(--footer-background);
  overflow: hidden;
}
footer .top {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 1000px;
  border-bottom: 1px solid rgba(100, 100, 100, 0.5);
}
footer button {
  margin-top: 40px;
  margin-bottom: 40px;
  width: 240px;
  height: 40px;
  line-height: 40px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  border: none;
  border-radius: 20px;
  background-color: var(--green);
}
footer button:hover {
  cursor: pointer;
}
footer .device {
  background-image: url(images/Devices.png);
  background-size: 814px 145px;
  width: 814px;
  height: 145px;
}
footer .device .os {
  position: relative;
  display: flex;
}
.os a {
  opacity: 0.5;
}
.os a:hover {
  opacity: 1;
  transition: 0.15s;
}
footer .device .browser {
  position: absolute;
  top: 60px;
  left: 87px;
  background-image: url(images/Browser.svg);
  background-image: 174px 50px;
  width: 174px;
  height: 50px;
}
footer .device .android {
  position: absolute;
  top: 60px;
  left: 380px;
  background-image: url(images/Android.svg);
  background-image: 41px 50px;
  width: 41px;
  height: 50px;
}
footer .device .apple {
  position: absolute;
  top: 60px;
  left: 472px;
  background-image: url(images/Apple.svg);
  background-image: 40px 48px;
  width: 40px;
  height: 48px;
}
footer .device .windows {
  position: absolute;
  top: 60px;
  left: 622px;
  background-image: url(images/Windows.svg);
  background-image: 50px 50px;
  width: 50px;
  height: 50px;
}
footer .device .mac {
  position: absolute;
  top: 60px;
  left: 694px;
  background-image: url(images/Mac.svg);
  background-image: 51px 50px;
  width: 51px;
  height: 50px;
}
footer .bottom {
  display: flex;
  justify-content: space-between;
  width: 900px;
  padding: 24px 50px;
}
.bottom .footer-logo figure {
  background-image: url(images/White-logo.svg);
  background-size: 130px 36px;
  width: 130px;
  height: 36px;
}
footer .bottom .nav {
  display: flex;
  justify-content: space-between;
  width: 70%;
}
.bottom .nav li {
  display: flex;
  max-width: 200px;
  height: 30px;
}
.bottom .nav li a {
  display: block;
  color: white;
  opacity: 0.5;
}
.bottom .nav li span {
  color: var(--green);
}
.bottom .nav li a:hover {
  opacity: 1;
}

/* ----------------------- fixed ------------------------------- */
.fixed {
  position: fixed;
  bottom: 16px;
  right: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 140px;
  height: 50px;
  line-height: 50px;
  border-radius: 25px;
  background-color: var(--blue);
}
.fixed figure {
  display: flex;
  align-items: center;
  margin-right: 8px;
}
.fixed svg {
  fill: white;
}
.fixed p {
  color: white;
  font-weight: bold;
}
