* {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* -------------------- header -------------------- */
header {
  width: 100%;
}
header > .navbar {
  display: flex;
  margin: 0 auto;
  width: 1500px;
  height: 120px;
}
header > ul > .menu {
  margin-top: 20px;
  width: 200px;
  height: 100px;
  line-height: 100px;
  text-align: center;
  font-size: 18px;
}
header > ul > li > h1 {
  margin-top: 20px;
  width: 300px;
  height: 100px;
  line-height: 100px;
  text-align: center;
}

header > ul > .menu:hover {
  color: coral;
  font-weight: bold;
  text-decoration: underline 2px;
  cursor: pointer;
}

/* -------------------- section -------------------- */
section {
  width: 100%;
}
section > .banner1 {
  position: relative;
  height: 480px;
}
section > .banner1 > img {
  width: 100%;
  height: 100%;
}
section > .banner1 > .b-box {
  position: absolute;
  display: flex;
  flex-direction: column;
  width: 500px;
  height: 250px;
  background-color: antiquewhite;
  top: 250px;
  left: 50%;
  transform: translate(-50%, -50%);
}
.b-box > .title {
  margin-top: 10px;
  width: 500px;
  height: 30px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}
.b-box > h1 {
  width: 500px;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 30px;
}
.b-box > .sub {
  width: 500px;
  text-align: center;
}
.b-box > .button {
  margin-top: 15px;
  text-align: center;
}
.b-box > .button > button {
  width: 150px;
  height: 50px;
}
.b-box > .button > .btn1 {
  background-color: white;
  border: none;
  font-size: 18px;
}
.b-box > .button > .btn2 {
  background-color: sandybrown;
  color: white;
  border: none;
  font-size: 18px;
}
.b-box > .button > button:hover {
  font-weight: bold;
}

section > .banner2 {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 430px;
}
section > .banner2 > .b2-top {
  margin: 0 auto;
  width: 300px;
  height: 100px;
  text-align: center;
}
section > .banner2 > .b2-top > p {
  font-size: 14px;
}
section > .banner2 > .b2-menu {
  display: flex;
  margin: 0 auto;
  width: 1520px;
}
section > .banner2 > .b2-menu > .b2-sub {
  margin: 0 auto;
  padding-top: 50px;
  width: 380px;
  height: 250px;
  text-align: center;
  margin-bottom: 30px;
  border: 3px solid #00000000;
  box-sizing: border-box;
}
section > .banner2 > .b2-menu > .b2-sub > .line {
  margin: 0 auto;
  width: 300px;
  border: 2px black dashed;
  margin-top: 70px;
}
section > .banner2 > .b2-menu > .b2-sub:hover {
  border: coral 3px solid;
  cursor: pointer;
  box-sizing: border-box;
}

/* --------------------- footer --------------------- */
footer {
  display: flex;
  width: 100%;
  height: 304px;
  background-color: #ececec;
}
footer > .foot {
  display: flex;
  margin: 0 auto;
  width: 814px;
  height: 304px;
}
footer > .foot > .f-box {
  margin-top: 100px;
  width: 500px;
  height: 120px;
}
footer > .f-box > .foot > h1 {
  width: 500px;
  height: 50px;
  line-height: 50px;
}
footer > .foot > .f-box > figure {
  width: 314px;
  height: 304px;
}
