* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  width: 100%;
  background-color: #f9f9f9;
}
#wrap {
  margin: 0 auto;
  position: relative;
  width: 90%;
}

header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  background-color: white;
}
header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
  height: 60px;
}
header figure img {
  width: 120px;
  height: 26.72px;
}
header .header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
header .header-profile a {
  width: 40px;
  height: 40px;
}
header .header-profile img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
header span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}

#player {
  margin-left: 24px;
  margin-top: 24px;
  width: 72%;
  height: 72%;
}

.video {
  position: relative;
  width: 100%;
  height: 100%;
  padding-top: 56.25%;
  margin: 0;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#info {
  margin-top: 1%;
  margin-left: 24px;
  width: 72%;
}
#info .hashtag {
  display: flex;
}
#info .hashtag a {
  margin-right: 5px;
  font-size: 14px;
  color: #065fd4;
}
#info h3 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 8px;
}
.view-icons {
  margin-top: 1%;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c6c6c6;
}
.view-icons .view {
  color: #606060;
}
.view-icons .icons {
  display: flex;
}
.view-icons .icons a {
  color: black;
  margin-left: 15px;
}

.video-profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 12px;
}
.video-profile .profile {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 16px;
}
.video-profile .profile h4 {
  color: black;
  font-size: 15px;
}
.video-profile .profile p {
  font-size: 13px;
  color: #606060;
}
.video-profile .profile figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}
.video-profile .profile img {
  border-radius: 50%;
  margin-right: 10px;
}
.video-profile .profile button {
  width: 72px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #c00;
  color: white;
}
.video-profile .more {
  margin-left: 58px;
  font-size: 14px;
}
.video-profile .more p:first-child {
  padding-bottom: 20px;
}
.video-profile .more p:nth-child(2) {
  color: #065fd4;
  padding-bottom: 12px;
}
.video-profile .more p:last-child {
  font-size: 13px;
  color: #606060;
}

#next-video {
  position: absolute;
  width: 26%;
  top: 0;
  right: 0;
}
.next {
  display: flex;
  padding-top: 24px;
  padding-left: 24px;
}
.next:first-child {
  padding-top: 0;
}
.next img {
  display: flex;
  align-items: center;
  width: 142px;
  margin-right: 8px;
}
.next-info p {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.next-info p:first-child a {
  font-size: 14px;
  font-weight: bold;
  color: black;
}
.next-info p:last-child a {
  font-size: 13px;
  color: #606060;
}
#comment {
  margin-left: 24px;
  width: 72%;
}

.com-top {
  height: 80px;
  line-height: 80px;
  display: flex;
}
.com-top h3 {
  padding-right: 50px;
}
#comment .input {
  display: flex;
}
#comment figure {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.input figure img {
  border-radius: 50%;
}
.input input {
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  background: none;
}

/* 1017px */
/* 1772px */
