* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
}

body {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: #f9f9f9;
}

header {
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  height: 60px;
  background-color: white;
}
.logo {
  display: flex;
}
.logo .h-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 80px;
  height: 60px;
}
.logo .h-menu:hover {
  cursor: pointer;
}
#wrap {
  display: flex;
  flex-direction: column;
  width: 1256px;
  margin-top: 60px;
  padding: 24px;
}

header figure {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100px;
  height: 60px;
}
header label {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60%;
  height: 60px;
}
label input {
  width: 500px;
  height: 40px;
  font-size: 16px;
  box-sizing: border-box;
  border: 1px solid #c6c6c6;
}
label .search {
  width: 60px;
  height: 40px;
  background-color: #f8f8f8;
  border: 1px solid #c6c6c6;
  border-left: none;
  box-sizing: border-box;
}
label .search:hover {
  cursor: pointer;
}
label .voice {
  width: 40px;
  height: 40px;
  margin-left: 16px;
  background-color: #f8f8f8;
  border: none;
  border-radius: 50%;
}
label .voice:hover {
  cursor: pointer;
}

header .header-profile {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
}
header .header-profile a {
  width: 36px;
  height: 36px;
}
header .header-profile img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 36px;
  height: 36px;
  border-radius: 50%;
}
header span {
  width: 1px;
  height: 1px;
  clip: rect(1px 1px 1px 1px);
  overflow: hidden;
  clip-path: inset(50%);
}

#player {
  width: 100%;
  height: auto;
}

.video {
  position: relative;
  width: 100%;
  height: auto;
  padding-top: 56.25%;
  margin: 0;
}

.video iframe {
  position: absolute;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}
#info {
  margin-top: 12px;
  width: 100%;
}
#info .hashtag {
  display: flex;
}
#info .hashtag a {
  margin-right: 5px;
  font-size: 14px;
  color: #065fd4;
}
#info h3 {
  font-size: 22px;
  font-weight: normal;
  padding-bottom: 8px;
}
.view-icons {
  margin-top: 8px;
  padding-bottom: 15px;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid #c6c6c6;
}
.view-icons .view {
  color: #606060;
}
.view-icons .icons {
  display: flex;
  align-items: center;
}
.view-icons .icons a{
  display: flex;
  align-items: center;
  justify-content: center;
}
.view-icons .icons a {
  color: black;
  margin-left: 16px;
}

.video-profile {
  display: flex;
  flex-direction: column;
  border-bottom: 1px solid #c6c6c6;
  padding-bottom: 12px;
}
.video-profile .profile {
  display: flex;
  align-items: center;
  padding-top: 14px;
  padding-bottom: 16px;
}
.video-profile .profile h4 {
  color: black;
  font-size: 15px;
}
.video-profile .profile p {
  font-size: 13px;
  color: #606060;
}
.video-profile .profile figure {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: 100%;
  height: 50px;
}
.video-profile .profile img {
  border-radius: 50%;
  margin-right: 10px;
}
.video-profile .profile button {
  width: 72px;
  height: 40px;
  border: none;
  border-radius: 2px;
  background-color: #c00;
  color: white;
}
.video-profile .more {
  margin-left: 58px;
  font-size: 14px;
}
.video-profile .more p:first-child {
  padding-bottom: 20px;
}
.video-profile .more p:nth-child(2) {
  color: #065fd4;
  padding-bottom: 12px;
}
.video-profile .more p:last-child {
  font-size: 13px;
  color: #606060;
}

/* ------------------오른 다음 동영상-------------------- */
#next-video {
  margin-top: 60px;
  padding: 24px 24px 24px 0;
  width: 402px;
  max-width: 300px;
}
.next {
  display: flex;
  padding-top: 12px;
}
.next:first-child {
  padding-top: 0;
}
.next img {
  display: flex;
  align-items: center;
  width: 160px;
  margin-right: 8px;
}
.next-info p {
  display: -webkit-box;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.next-info p:first-child a {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.next-info p:last-child a {
  font-size: 12px;
  color: #606060;
}

/* ------------------아래 다음 동영상-------------------- */
#next-video-1 {
  display: none;
  width: 100%;
}
.next-1 {
  display: flex;
  padding-top: 16px;
}
.next-1 img {
  display: flex;
  align-items: center;
  width: 160px;
  margin-right: 8px;
}
.next-info-1 p {
  display: -webkit-box;
  align-items: center;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.next-info-1 p:first-child a {
  font-size: 13px;
  font-weight: bold;
  color: black;
}
.next-info-1 p:last-child a {
  font-size: 12px;
  color: #606060;
}

#comment {
  width: 100%;
}
.com-top {
  height: 80px;
  line-height: 80px;
  display: flex;
}
.com-top p {
  display: flex;
  align-items: center;
  justify-content: center;
}
.com-top h3 {
  padding-right: 50px;
}
#comment .input {
  display: flex;
}
#comment figure {
  width: 48px;
  height: 48px;
  margin-right: 16px;
}
.input figure img {
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.input input {
  width: 100%;
  height: 32px;
  border: none;
  border-bottom: 1px solid #c6c6c6;
  background: none;
}

#comment .com {
  display: flex;
  flex-direction: column;
  width: 100%;
}
#comment .com figure {
  display: flex;
  width: 100%;
  height: 100%;
  padding-top: 20px;
}
.com figure img {
  display: flex;
  width: 40px;
  height: 40px;
  border-radius: 50%;
}
.com .text p {
  margin-bottom: 4px;
}
.com .text p a {
  color: black;
}
span {
  margin-left: 8px;
  font-size: 13px;
  color: #606060;
}
.com figure .text {
  font-size: 15px;
  color: black;
  padding-left: 12px;
}
#comment .com .icons {
  margin-left: 52px;
  display: flex;
}
.com .icons p {
  width: 40px;
  height: 24px;
}
.com .icons a {
  margin-right: 16px;
  font-size: 12px;
  color: #606060;
}
.com .more {
  margin-top: 8px;
}
.com .more a {
  margin-left: 52px;
  font-size: 14px;
  color: #065fd4;
}
.com .more a:hover {
  text-decoration: underline;
}
/* 1017px */
/* 1772px */


@media screen and (max-width: 1016px) {
  #next-video {
    display: none;
  }
  #next-video-1 {
    display: block;
  }
}