* {
    margin: 0;
    padding: 0;
}

.calc {
    margin: 40px auto;
    width: 440px;
    height: 600px;
    border: 2px solid black;
    border-radius: 15px;
    box-sizing: border-box;
}

.display {
    margin: 20px auto;
    width: 400px;
    height: 80px;
    background-color: gray;
}

.buttons {
    margin: 0 auto;
    width: 400px;
}
.button {
    float: left;
    width: 80px;
    height: 80px;
    margin: 4px 10px;
    line-height: 80px;
    text-align: center;
    font-size: 26px;
    cursor: pointer;
    box-shadow: 3px 3px 3px #00000050;
}
.button:hover {
    background-color: black;
    color: white;
}